/* Global */

*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{

}

body{
  margin: 0 auto;
}

h1,h2,h3,p{
  margin: 0;
}


/* header */
header{
  background-image: linear-gradient(to left, #a834eb, #581c7a);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

img{
  max-width: 70px;
}

header p{
  font-size: 48px;
  text-transform: uppercase;
  color: white;
}

.memes{
  width: 90%;
  max-width: 400px;
  color: white;
}

.memes img{
  width: 100%;
}
